/*===== Table =====*/
@media only screen and (max-width: 767px) {
    .Table-Wrap {
    padding-bottom: 0;
    }
    }
    .Js-ScrollBar-Table .Table-Wrap {
    display: block;
    }
    @media only screen and (max-width: 767px) {
    .Js-ScrollBar-Table {
    overflow-x: auto;
    white-space: nowrap;
    }
    }
    .Js-ScrollBar-Table .mCustomScrollBox {
    margin-top: 12px;
    }
    @media only screen and (max-width: 767px) {
    .Js-ScrollBar-Table .mCustomScrollBox {
    border-right: 1px solid #d6d6d6;
    }
    }
    .Js-ScrollBar-Table.mCS_no_scrollbar .mCustomScrollBox {
    margin-top: 0;
    }
    .Js-ScrollBar-Table .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #999;
    }
    .Js-ScrollBar-Table .mCS-dark-3.mCSB_scrollTools .mCSB_dr aggerRail {
    background-color: #f0f0f0;
    }
    .Js-ScrollBar-Table .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .Js-ScrollBar-Table .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .Js-ScrollBar-Table .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 5px;
    }
    .Js-ScrollBar-Table .mCSB_scrollTools .mCSB_draggerRail,
    .Js-ScrollBar-Table .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 5px;
    }
    .Js-ScrollBar-Table .mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    position: absolute;
    top: 0;
    margin-top: -12px;
    }

.Table-Landscape {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-left: none;
    }
    @media print, screen and (min-width: 768px) {
    .Table-Landscape {
    table-layout: fixed;
    }
    }
    .Table-Landscape th {
    padding: 20px 32px;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    font-weight: normal;
    line-height: 1.3;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Landscape th {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Landscape th {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Landscape th {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Landscape th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Landscape th {
    padding: 8px 13px;
    }
    }
    .Table-Landscape .Th-Base {
    padding: 4px 32px;
    color: #fff;
    }
    @media only screen and (max-width: 767px) {
    .Table-Landscape .Th-Base {
    padding: 8px 13px;
    }
    }
    .Table-Landscape td {
    padding: 20px 32px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    line-height: 1.3;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Landscape td {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Landscape td {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Landscape td {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Landscape td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Landscape td {
    padding: 8px 13px;
    }
    }
    .Table-Vertical {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-left: none;
    }
    @media print, screen and (min-width: 768px) {
    .Table-Vertical {
    table-layout: fixed;
    }
    }
    .Table-Vertical th {
    padding: 20px 32px;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    font-weight: normal;
    line-height: 1.3;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Vertical th {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Vertical th {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Vertical th {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Vertical th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Vertical th {
    width: 33%;
    padding: 8px 13px;
    }
    }
    .Table-Vertical .Th-Base {
    padding: 24px 32px;
    color: #fff;
    }
    @media only screen and (max-width: 767px) {
    .Table-Vertical .Th-Base {
    padding: 8px 13px;
    }
    }
    .Table-Vertical td {
    padding: 23px 32px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    line-height: 1.3;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Vertical td {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Vertical td {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Vertical td {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Vertical td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Vertical td {
    width: 33%;
    padding: 8px 13px;
    }
    }
    .Table-Spec {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-left: none;
    }
    @media print, screen and (min-width: 768px) {
    .Table-Spec {
    table-layout: fixed;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Spec {
    border-right: none;
    }
    
    table.Table-Spec {}
    }
    .Table-Spec th {
    padding: 10px 32px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: middle;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Spec th {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Spec th {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Spec th {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Spec th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Spec th {
    padding: 8px 13px;
    }
    }
    .Table-Spec td {
    padding: 11px 32px 10px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: middle;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-Spec td {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-Spec td {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Spec td {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-Spec td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-Spec td {
    padding: 8px 13px;
    }
    }
    .Th-Base {
    text-align: left;
    font-weight: bold;
    color: #fff;
    background-color: #008486;
    }
    .Th-LV1 {
    text-align: left;
    font-weight: bold;
    background-color: #f0f0f0;
    }
    .Th-LV2,
    .Th-LV3,
    .Th-LV4 {
    text-align: left;
    background-color: #f9f9f9;
    }
    .Box-TableNext {
    margin-top: 23px;
    }
    .Table-ViewSPCell1 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-left: none;
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell1 {
    table-layout: fixed;
    }
    }
    .Table-ViewSPCell1 th {
    padding: 19px 24px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-ViewSPCell1 th {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-ViewSPCell1 th {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell1 th {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell1 th {
    width: 25%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell1 th {
    display: block;
    width: 100%;
    padding: 15px 13px;
    }
    }
    .Table-ViewSPCell1 td {
    padding: 19px 24px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-ViewSPCell1 td {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-ViewSPCell1 td {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell1 td {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell1 td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell1 td {
    display: block;
    width: 100%;
    padding: 16px 13px;
    }
    }
    .Table-ViewSPCell2 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-left: none;
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell2 {
    table-layout: fixed;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell2 tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell2 tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    }
    }
    .Table-ViewSPCell2 th {
    padding: 19px 24px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-ViewSPCell2 th {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-ViewSPCell2 th {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell2 th {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell2 th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    word-break: break-all;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell2 th {
    width: 33%;
    padding: 8px 13px;
    }
    }
    .Table-ViewSPCell2 td {
    padding: 19px 24px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #333;
    vertical-align: top;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    }
    @media print, screen and (min-width: 1024px) and (max-width: 1439px) {
    .Table-ViewSPCell2 td {
    font-size: 1.4rem;
    }
    }
    @media print, screen and (min-width: 768px) and (max-width: 1023px) {
    .Table-ViewSPCell2 td {
    font-size: 1.2rem;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell2 td {
    font-size: 1.1rem;
    }
    }
    @media print, screen and (min-width: 768px) {
    .Table-ViewSPCell2 td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    word-break: break-all;
    }
    }
    @media only screen and (max-width: 767px) {
    .Table-ViewSPCell2 td {
    padding: 8px 13px;
    }
    }